*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(153, 233, 227);
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 100%;
}

.top_bar {
    grid-column: span 11 / span 11;
    background: radial-gradient(#ffffff00 39%, #6d94e4 70%);
    border-radius: 200px
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    font-size: 4vw;
}
h2{
    font-family: "MuseoModerno", sans-serif;
    font-weight: 400;
    font-size: 2vw;
}
.main_title{
    text-align: center;
    width: 100%;
}

.main_subtitle{
    text-align: center;
    margin-left: 15%;
}

.lateral_bar {
    grid-row: span 6 / span 6;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.lat-button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    font-size: 1vw;
}

.button:hover:not(:disabled) {
    background-color:#eee;
}

.lat-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#Icontainer {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.main_container {
    grid-column: span 11 / span 11;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 2;
    display: block;
    /*background-color: rgb(255, 255, 255);*/
}