*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 100vh;
}

.lateral_bar {
    grid-row: span 6 / span 6;
    background-color: aqua;
}

.top_bar {
    grid-column: span 11 / span 11;
    background-color: blueviolet;
}

.main_container {
    grid-column: span 11 / span 11;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: yellow;
}